<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumSuite" parallel="false">
	<test name="SeleniumTest">
		<classes>
			<!--class name="br.com.cams7.casa_das_quentinhas.ClienteTest"></class>
			<class name="br.com.cams7.casa_das_quentinhas.PedidoTest"></class>
			<class name="br.com.cams7.casa_das_quentinhas.ProdutoTest"></class>
			<class name="br.com.cams7.casa_das_quentinhas.EmpresaTest"></class-->
			<class name="br.com.cams7.casa_das_quentinhas.EntregadorTest"></class>
			<!--class name="br.com.cams7.casa_das_quentinhas.FuncionarioTest"></class-->
		</classes>
	</test>
</suite>